* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: white;
}
.top, header, main, footer {
	width: 100%;
}
.top {
	background-color: black;
}

header {
	background-color: grey;
}

main {
	background-color: yellow;
}

footer {
	padding: 10px 0;
	background-color: brown
}

.top-wrapper, .header-wrapper, .main-wrapper, .footer-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
}
.top-wrapper {
	text-align: right;
}

.topMenu {
	display: inline-block;
	margin: 0 15px;
}
.mainMenu {
	display: inline-block;
	margin: 0 15px;
}

.main-wrapper {
		height: 200px;
}
.product {
	display: inline-block;
	float: left;
	width: 33%;
}

.prTitle, .prDescr, .prPrice {
	margin: 10px 0;
	text-align: left;
}

.prTitle {font-weight: bold;}